body{
    background-image: url("images/background.jpg");
    background-size: 100%;
}

main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.panel{
    width: 660px;
    height: 440px;
    background-color: #808080;
    display: flex;

    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;

    border-radius: 20px;
}

.row{
    display: flex;
    justify-content: space-around;
}

.key{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 110px;
    color: burlywood;
    opacity: 0.8;
}

.press{
    background-color: #fde910;
}